body{
    font-family: 'Raleway', sans-serif;
   
}


#logo, a{
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
}



h2{
    position: relative;
    left: 10%;
    font-size: 33px;
}




iframe{
    position: relative;
    left: 10%;
}



#listaMenu{
    list-style-type: pointer;
    text-align: center;
    padding: 0;
}


#listaMenu li{
    display: inline-block;
    margin: 10px; 
}


#infoMusica{
    list-style-type: pointer;
    margin-left: 180px;
}


#producao{
    list-style-type: none;
    margin-left: 170px;
}



#rodape{
    font-weight: bold;
    background: #e6e6e6;
    text-align: center;
    padding: 10px;
}
header{
    border: #e6e6e6 solid 2px;
}